.errorImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.errorImage img {
    max-width: 30rem;
    width: 100%;
}

.errorImage h3 {
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5.5rem;
}

.regresar{
    color: #008373;
}