.footerContainer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 5px;
    z-index: 1000;
    text-align: center;
}

.socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialIcons > * {
    margin-right: 10px;
}

.contentContainer p {
    margin: 0;
    color: black !important;
}

@media (max-width: 768px) {
    .contentContainer p{
        font-size: 0.8rem;
    }
}