nav {
    background-color: #008373;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 4rem;
    height: auto;
    cursor: pointer;
}

.nombre{
    width: 12rem;
    cursor: pointer;
    @media (max-width: 767px){
        display: none;
    }
}

.navbarItems {
    display: flex;
    gap: 50px; 
}

.icon{
    cursor: pointer;
}

a{
    color: white;
}

.active{
    border-bottom: 4px solid white;
    animation: move-border 0.1s ease-in-out;
}

@keyframes move-border {
    from {
        border-bottom-width: 0;
    }

    to {
        border-bottom-width: 4px;
    }
}